{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block main_area %}

    <!-- Post content-->
    <article>
        <!-- Post header-->
        <header class="mb-4">
            <!-- Post title-->
            <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
            <!-- Post meta content-->
            <div class="text-muted fst-italic mb-2">{{ post.create_at }}</div>

            <!-- Post update icon -->
            {% if user.is_authenticated and user == post.author %}
                <a class="btn btn-info btn-sm float-end" href="/blog/update_post/{{ post.pk }}" role="button">Edit Post</a>
            {% endif %}

            <!-- Post delete icon -->
            {% if user.is_authenticated and user == post.author %}
                <a class="btn btn-info btn-sm float-end" href="/blog/delete_post/{{ post.pk }}" role="button">DELETE Post</a>
            {% endif %}

            <!-- Post categories-->
            {% if post.category %}
                <span class="badge bg-secondary">{{ post.category }}</span>
            {% else %}
                <span class="badge bg-secondary">미분류</span>
            {% endif %}
        </header>
        <!-- Preview image figure-->
        {% if post.head_image %}
        <figure class="mb-4"><img class="img-fluid rounded" src="{{ post.head_image.url }}" alt="..." /></figure>
        {% else %}
        <figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure>
        {% endif %}
        <!-- Post content-->
        <section class="mb-5">
            <p> {{ post.content }}</p>

            <!-- if문 입력 -->
            {% if post.file_upload %}
                <a href="{{ post.file_upload.url }}" class="btn btn-outline-dark" role="button" download>
                    Download
                </a>
            {% endif %}
            <hr>

        </section>
    </article>
    <!-- Comments section-->
    <section class="mb-5">
        <div class="card bg-light">
            <div class="card-body">
                <!-- Comment form-->
                {% if user.is_authenticated %}
                <form class="mb-4" id="comment-form" method="POST" action="{{post.get_absolute_url}}new_comment/">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ comment_form | crispy }}
                    </div>
                    <button type="submit" class="btn btn-primary">Submit </button>
                    {% else %}
                        <a role="button" class="btn btn-sm" href="#" data-toggle="modal" data-target="#loginModal">로그인하고 댓글을 남겨주세요</a>
                    {% endif %}
                </form>

                <!-- Single comment-->
                {% if post.comment_set.exists %}
                    {% for comment in psot.comment_set.iterator %}

                <div class="d-flex" id="comment={{comment.pk}}">
                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                    <div class="ms-3">
                        <div class="fw-bold">{{comment.author}} & {{ comment.created_at }}</div>
                        {{ comment.content | linebreaks }}
                        {% if comment.created_at != comment.modified_at %}
                            <p class="text-muted"><small> Updated : {{ comment.modified_at }}</small></p>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>

{% endblock %}
